body {
			padding-top : 50px;
			padding-bottom : 50px;
        }
}

.row{;
	margin-left: -20px;
  	*zoom: 1;
  	margin-bottom: 20px;
}

.footer
{
    clear: both;
    border: 5px solid black;
    background: black;
    color: White;
    padding: 50;
    vertical-align: middle;
    line-height: normal;
    margin: 50;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.anchorOffset{
   position:relative;
   top:-50px;
}

.btn-group{
	margin:10px;
	margin-left:0px;
}
.table {
	margin-bottom:0px; 
	width:100%; 
	table-layout: fixed;
}

.table th, table td {
	word-wrap: break-word
}

input{ 
	max-width: 100%; 
}
 
 