html, body {
			padding-top : 40px;
        }

#footer
{
    clear: both;
    border: 15px groove black;
    background: black;
    color: White;
    padding: 0;
    text-align: middle;
    vertical-align: middle;
    line-height: normal;
    margin: 20;
    position: fixed;
    bottom: 0px;
    width: 100%;
}