html, body {
			margin-top : 30px;
			margin-bottom : 50px;
        }
.row{;
	margin-left: -20px;
  	*zoom: 1;
  	margin-bottom: 20px;
}
#footer
{
    clear: both;
    border: 15px solid black;
    background: black;
    color: White;
    padding: 0;
    text-align: middle;
    vertical-align: middle;
    line-height: normal;
    margin: 20;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.anchorOffset{
   position:relative;
   top:-50px;
}

.btn-group{
	margin:10px;
	margin-left:0px;
}
.table {margin-bottom:0px;}
.table th, table td { overflow: hidden; }

form{
	margin-top:20px;
}