[run]
branch = True
source = prov
omit =
    */tests*

[paths]
source =
   src/prov
   .tox/*/lib/python*/site-packages/prov
   .tox/pypy*/site-packages/prov

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: