sudo: false
language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - "pypy"

addons:
  apt:
    packages:
      - graphviz

cache:
  - pip
  - apt

# Install packages
install:
  - pip install -r requirements.txt
  - pip install coverage coveralls

# Run test
script:
  - coverage run setup.py test

after_success:
  - coveralls
