sudo: required
dist: xenial
language: python
matrix:
  include:
    - python: 2.7
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: 3.7
      dist: xenial
      sudo: true
    - python: pypy
    - python: pypy3

addons:
  apt:
    packages:
      - graphviz

cache:
  - pip
  - apt

# Install packages
install:
  - pip install --upgrade setuptools
  - pip install -r requirements.txt
  - pip install coverage coveralls

# Run test
script:
  - coverage run setup.py test

after_success:
  - coveralls
