include pyproject.toml
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include CHANGES.txt
include src/prov/tests/json/*.json
include src/prov/tests/unification/*.json
include src/prov/tests/rdf/*.ttl
include src/prov/tests/rdf/*.trig
include src/prov/tests/xml/*.xml
include docs/requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
