
/* --- EDITORIAL NOTES --- */
.pending {
    padding:    1em;
    margin: 1em 0em 0em;
    border: 1px solid #f00;
    background: #BFEFFF;
}

.pending::before {
    content:    "Pending Review";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}


.resolved {
    padding:    1em;
    margin: 1em 0em 0em;
    border: 1px solid #f00;
    background: #9BCD9B;
}

.resolved::before {
    content:    "Resolved";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}


.inference {
    padding:    1em;
    margin: 1em 0em 0em;
    border: 1px solid #f00;
    background: #fff;
}

.inference::before {
    content:    "Inference";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}

.unamedconstraint {
    padding:    1em;
    margin: 1em 0em 0em;
    border: 1px solid #00f;
    background: #fff;
}


.unamedconstraint::before {
    content:    "Constraint";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #00f;
    background: #fff;
    padding:    3px 1em;
}



.constraint {
    padding:    1em;
    margin: 1em 0em 0em;
    border: 1px solid #00f;
    background: #fff;
}

.constraint[id]::before {
    content:    "Constraint: " attr(id);
    width:  380px;  /* How can we compute the length of "Constraint: " attr(id) */
}


.constraint::before {
    content:    "Constraint";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #00f;
    background: #fff;
    padding:    3px 1em;
}



.conditional {
    color: blue;
}

.grammar {
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 1ex;
    padding-bottom: 0.6ex;
    border: 1px dashed #2f6fab;
    font-family: monospace;
}
.nonterminal {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 95%;
}

.name {
    font-family: monospace;
}


.xmpl {
    padding:    1em;
    margin: 1em 0em 0em;
    border: 1px solid #f00;
    background: #fff;
}

.xmpl::before {
    content:    "Example";
    display:    block;
    width:  150px;
    margin: -1.5em 0 0.5em 0;
    font-weight:    bold;
    border: 1px solid #f00;
    background: #fff;
    padding:    3px 1em;
}
